<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tổng hợp kỹ năng cơ bản để thoát khỏi hỏa hoạn</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    section {
      padding-left: 20px;
      padding-right: 20px;
    }
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 15px;
    }
    footer {
      font-size: 14px;
      color: #888;
      margin-top: 20px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
<section>
    <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F1.png?alt=media&token=3d185650-f4b3-4035-b60f-dcb35def9d4c" alt="Description of the image">
</section>
</body>
</html>
