<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        section {
            padding-left: 20px;
            padding-right: 20px;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 15px;
        }


        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
<section>
    <p>Khi ngoài cửa căn hộ đã bị lửa bao vây không thể thoát ra ngoài, nên nhanh chóng thoát ra chỗ thoáng như ban
        công, sân thượng; dùng các thiết bị chuyên dụng để thoát hiểm; tuyệt đối không nhảy từ cửa sổ, ban công trên cao
        xuống</p>
    <p>Hãy tìm hiểu trước lối kiến trúc của toàn nhà khi bạn sống và làm việc ở đó để vạch ra đường thoát hiểm tối ưu
        khi xảy ra sự cố. Khi chạy ra ngoài bạn hãy men theo bờ tường để giữ được phương hướng khi mù mịt lửa và khói,
        đồng thời cũng để tránh bị xô ngã bởi dòng người đang náo loạn. </p>
    <p>Chú ý chỉ trèo ra ngoài cửa sổ và nhảy xuống khi thực sự an toàn hoặc có người trợ giúp bên ngoài. Khi di chuyển
        trong đám cháy bạn nên hạ thấp người xuống hoặc bò để tránh bị ngạt</p>
    <p>- Nếu đang chạy thoát cùng người khác, hãy đi cùng nhau nếu có thể.</p>
    <p>- Tuyệt đối không sử dụng thang máy khi xảy ra hỏa hoạn.</p>
    <p>- Rất có thể lối thoát bị cháy hoặc có khói, vì thế, bạn cần phải biết những lối thoát khác ở chỗ nào.</p>
    <p>- Nếu bạn ở tầng trệt, ra ngoài bằng cửa sổ: ném chăn, gối, đệm xuống đất ở bên ngoài để đỡ bạn</p>
    <p>- Nếu bạn không thể mở cửa sổ, hãy dùng một vật nặng để đập vỡ nó ở góc cuối, khi chạm vào các mép sắc cần dùng
        vải, khăn mặt hay chăn.</p>
    <p><strong>Nguồn: Trung tâm y tế quận 6 TP HCM </strong></p>

</section>
</body>
</html>


