<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        section {
            padding-left: 20px;
            padding-right: 20px;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 15px;
        }

        footer {
            font-size: 14px;
            color: #888;
            margin-top: 20px;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        .italic {
            font-style: italic;
        }
    </style>
</head>
<body>
<section>
    <p><strong>Việc lập và thực hành một phương án thoát nạn tại nhà rất đơn giản. Hãy làm theo các bước dưới đây để bảo
        đảm các thành viên trong gia đình cần chuẩn bị và biết phải làm gì khi có sự cố cháy, nổ xảy ra.</strong></p>
    <p><strong>Lập phương án thoát nạn</strong></p>
    <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F15%2F1.png?alt=media&token=d85be237-845d-45f3-826f-172ef8167cc6"
         alt="Description of the image">
    <p>Hãy tìm hiểu ít nhất một cách thoát nạn khỏi đám cháy tại các phòng trong nhà như phòng bếp, phòng ngủ, phòng
        khách…, trong trường hợp lối ra của các phòng bị chặn hoặc nguy hiểm bởi khói và lửa, có thể sử dụng phương án
        thứ hai bằng cách tìm hiểu thêm các đường thoát nạn từ ban công, lô gia, thang thoát hiểm hoặc các đường tiếp
        cận sang nhà hàng xóm để thoát ra khỏi đám cháy.</p>
    <p>Tự thực hành và di chuyển thấp người xuống, men theo vách tường, cầu thang, đường đi đến các lối thoát nạn khỏi
        nhà của mình khi gặp các trường hợp trường hợp có nhiều khói phát ra từ đám cháy.</p>
    <p>Sau khi thoát ra được từ đám cháy trong nhà, cần chọn một địa điểm tập trung các thành viên trong gia đình tại
        một địa điểm an toàn và thực hiện các bước như hô hoán, báo động cho người dân xung quanh biết để kịp thời thoát
        nạn, tham gia chữa cháy ban đầu; thông báo cho đơn vị chức năng cúp cầu dao điện; dùng các phương tiện chữa cháy
        ban đầu như bình chữa cháy, nước, vải tẩm nước… để chữa cháy; gọi điện cho lực lượng Cảnh sát PCCC và CNCH theo
        số điện thoại 114 để thông báo khu vực xảy ra cháy.
        Thực hiện diễn tập thoát nạn, chữa cháy tại nhà ít nhất hai lần một năm.</p>
    <p><strong>An toàn cháy, nổ đối với trẻ em</strong>
    </p>
    <p>Cần phải có phương án khi có trẻ nhỏ trong nhà. Trẻ em có thể trở nên rất hoảng loạn, cần được hướng dẫn rõ ràng
        và giúp ra khỏi nhà. Trẻ em có thể không biết cách thoát nạn hoặc phải làm gì trừ khi có người lớn chỉ cho các
        em.</p>
    <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F15%2F2.png?alt=media&token=68fd2244-2983-4914-8436-042e62e7801c"
         alt="Description of the image">
    <p>Phải có phương án cho trẻ nhỏ dưới sáu tuổi không thể tự ra ngoài. Trong đó, hãy nói về những người có thể sẽ
        giúp đứa trẻ ra ngoài an toàn.
    </p>
    <p>Dạy trẻ em nên biết phải làm gì khi nghe thấy chuông báo động khi không có người lớn xung quanh. Giúp chúng tập
        đi đến điểm an toàn bên ngoài của ngôi nhà.</p>
    <p>Dạy trẻ không bao giờ được quay lại bên trong một ngôi nhà đang cháy một khi chúng đã thoát nạn được ra
        ngoài.</p>
    <p>Dạy trẻ đi thấp và bò trên mặt đất, nơi không khí ít bị sự ảnh hưởng của khói hơn.</p>
    <p>Chỉ cho trẻ cách dùng mu bàn tay để kiểm tra độ nóng của cửa trước khi mở và sử dụng một lối thoát nạn khác nếu
        cửa bị nóng.</p>
    <p>Nếu trẻ nhỏ cần sử dụng thang thoát hiểm, hãy chỉ cho chúng nơi bạn cất nó và hướng dẫn thực hành cách sử dụng nó
        (lưu ý luôn luôn phải có sự hướng dẫn của người lớn).</p>
    <p><strong>Tiến hành diễn tập thoát nạn, chữa cháy</strong></p>
    <p>Cháy, nổ có thể bắt đầu ở bất cứ đâu trong nhà và bất kỳ lúc nào, vì vậy hãy lập phương án vào các thời điểm khác
        nhau trong thời gian ngày hoặc đêm để thực hành các cách thoát nạn khác nhau.</p>
    <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F15%2F3.png?alt=media&token=7a57c67f-35ea-40b6-8516-644a70c9d283"
         alt="Description of the image">
    <p class="italic">  <strong>Bước 1 : Biết nơi để đi.</strong></p>
    <p>Giải thích cho trẻ nhỏ rằng khi chuông báo động kêu, chúng cần nhanh chóng ra khỏi nhà và tập trung tại điểm an
        toàn đã hướng dẫn trước đó.</p>
    <p class="italic">  <strong>Bước 2: Kiểm tra báo động.</strong></p>
    <p>Kiểm tra thiết bị báo động và hướng dẫn trẻ nhỏ để chúng nhận biết được âm thanh.</p>
    <p class="italic">  <strong>Bước 3: Tiến hành báo cháy.</strong></p>
    <p>Cho trẻ và các thành viên trong gia đình vào phòng ngủ và đợi cuộc diễn tập phương án bắt đầu. Chỉ định người lớn
        giúp đỡ trẻ nhỏ. Giao nhiệm vụ cho một người lớn phụ trách âm thanh báo động cháy và điều hành cuộc diễn tập.
        Tiếp theo, âm thanh báo động, bắt đầu hẹn giờ trong một khoảng thời gian ngắn nhất và yêu cầu mọi người tập
        trung đến vị trí an toàn. Khi mọi người đã đến địa điểm an toàn, hãy dừng bộ đếm thời gian. Nếu tất cả mọi người
        trong gia đình hoàn thành trong vòng chưa đầy hai phút, mỗi thành viên sẽ nhận được một phần thưởng để khích lệ
        tinh thần. Nếu không, hãy thử lại một lần nữa. Trong trường hợp hỏa hoạn thực sự, hãy đến địa điểm tập trung an
        toàn, sau đó gọi 114 và yêu cầu mọi người tập trung tại vị trí đó cho đến khi Cảnh sát PCCC và CNCH đến./.</p>

</section>
</body>
</html>
