<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    section {
      padding-left: 20px;
      padding-right: 20px;
    }
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 15px;
    }
    footer {
      font-size: 14px;
      color: #888;
      margin-top: 20px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
<section>
  <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F2%2F13.png?alt=media&token=265bd953-162f-4c3b-b648-adadf9c161d5" alt="Description of the image">
  <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F2%2F14.png?alt=media&token=33cfbcf5-a4ea-493c-a77e-db929fedb6fb" alt="Description of the image">
  <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F2%2F15.png?alt=media&token=e4d0cf25-cada-4cd9-b923-b55b0e967f48" alt="Description of the image">
  <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F2%2F16.png?alt=media&token=d7cb0cdd-d0f7-4eac-aaa9-c3d7ca10d0d7" alt="Description of the image">
  <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F2%2F17.png?alt=media&token=704039aa-19e4-4bec-8761-dbb8bf19e598" alt="Description of the image">
  <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F2%2F18.png?alt=media&token=d718cdec-c7c5-4001-a4b5-6058208a9d86" alt="Description of the image">
  <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F2%2F19.png?alt=media&token=4f8d392f-d6b2-481c-8a77-74a5b8b5d3bd" alt="Description of the image">
  <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F2%2F20.png?alt=media&token=4967f440-ffd4-43ff-8640-61efcfee6a2c" alt="Description of the image">
  <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F2%2F21.png?alt=media&token=c3123676-2e84-402b-8f0d-5517021eba60" alt="Description of the image">
</section>
</body>
</html>
