<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    section {
      padding-left: 20px;
      padding-right: 20px;
      padding-top:20px
    }
    img {
      max-width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
<section>
  <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F3.png?alt=media&token=6f77d4a1-58ba-4ba0-92ee-51964721e6d0" alt="Description of the image">
</section>
</body>
</html>
