<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    section {
      padding-left: 20px;
      padding-right: 20px;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 15px;
    }

    footer {
      font-size: 14px;
      color: #888;
      margin-top: 20px;
    }

    img {
      max-width: 100%;
      height: auto;
    }
    video {
      max-width: 100%;
      height: auto;
      width: 100%;
    }
  </style>
</head>
<body>
<section>
  <video controls>
    <source src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F4%2FK%E1%BB%B8%20N%C4%82NG%20THO%C3%81T%20HI%E1%BB%82M%20KHI%20X%E1%BA%A2Y%20RA%20CH%C3%81Y%20T%E1%BA%A0I%20NH%C3%80%20CAO%20T%E1%BA%A6NG.mp4?alt=media&token=a7c50ca2-98d8-44b8-852a-47ec60dcce7c" type="video/mp4">
  </video>
  <p>
    Sống ở tầng cao không có nghĩa là bạn sẽ nguy hiểm hơn khi có cháy. Các căn hộ cao tầng có tường, trần, và cửa
    chống lửa, giúp chặn lửa và khói lại. Tuy nhiên, không phải ai cũng nắm vững kiến thức an toàn về phòng chữa
    cháy và kỹ năng thoát hiểm khi cháy chung cư, nhà cao tầng.
  </p>
  <p> Hãy trang bị cho mình những kỹ năng cần thiết để bảo vệ an toàn tính mạng bản thân trong các trường hợp khẩn
    cấp. </p>
  <h3> Cách thoát hiểm khi cháy chung cư </h3>
  <p> Dưới đây là những kỹ năng cơ bản giúp bạn thoát nạn khi có chỏa hoạn xảy ra tại chung cư, nhà cao tầng. </p>
  <h4> Bình tĩnh dập lửa </h4>
  <p> Yếu tố hàng đầu để sống sót khi hỏa hoạn xảy ra là phải thật sự bình tĩnh và nhanh chóng thực hiện các phương
    pháp thoát hiểm. </p>
  <p> Khi đám cháy nhỏ, bạn hãy tìm cách dập lửa. Có thể dùng bình bột, bình khí CO2, cát, chăn, nước hoặc những thứ
    khác mà bạn có thể kiếm được ngay quanh đó để dập lửa. </p>
  <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F4%2F1.png?alt=media&token=08623538-563e-4ce0-ab75-fb6e42e22f3e"
       alt="Description of the image">
  <p> Trong trường hợp đám cháy quá lớn không thể dập lửa, bạn phải nhanh chóng tìm cách thoát hiểm. Hét lên cho mọi
    người trong nhà biết để cùng thoát, ngay sau đó hãy lập tức ấn máy gọi 114 để được trợ giúp. </p>
  <h4> Xác định lối thoát hiểm an toàn </h4>
  <p> Nếu ngọn lửa không xuất phát từ phòng, tầng của bạn thì cần xác định rõ vị trí đám cháy và luồng khói để đưa ra
    kế hoạch thoát hiểm nhanh nhất cho bản thân và gia đình. </p>
  <p> Khi xác định được đám cháy xuất phát từ tầng trên, bạn cần chạy xuống phía dưới. Ngược lại, nếu đám cháy xuất
    phát ở tầng dưới, bạn nên chạy lên tầng thượng. </p>
  <p> Tuyệt đối không chui vào phòng và đóng chặt cửa vì khói lan rất nhanh, việc hít nhiều khói sẽ khiến con người
    hôn mê và tử vong. </p>
  <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F4%2F2.png?alt=media&token=f3b83eff-23cf-4525-a3d1-3617817169b8"
       alt="Description of the image">
  <p> Nếu lửa cháy ở khu vực ngoài hành lang làm cho bạn không có lối thoát ra, cách duy nhất lúc này là hãy di chuyển
    đến nơi có không gian rộng hơn, thoáng khí, chẳng hạn như ban công. Nhớ đóng kín cửa ban công, chèn khăn ướt để
    ngăn khói tràn ra. </p>
  <h4> Tuyệt đối không sử dụng thang máy </h4>
  <p> Khi xảy ra hỏa hoạn, bạn tuyệt đối không được sử dụng thang máy làm lối thoát hiểm. Khi đó nguồn điện có thể đã
    bị ngắt, khi bạn vào thang máy sẽ dễ bị kẹt bên trong. </p>
  <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F4%2F3.png?alt=media&token=31c02bb3-2817-41f2-bf1a-a8ed6e264c4c"
       alt="Description of the image">
  <p> Trong trường hợp này, tốt nhất bạn nên sử dụng cầu thang bộ, đi theo biến báo “EXIT” – lối ra để thoát hiểm.
    Đồng thời, bạn nên thông báo cho hàng xóm ở các căn hộ xung quanh để họ biết đang cháy. </p>
  <h4> Tìm chỗ ẩn nấp tránh khói </h4>
  <p> Phần lớn các trường hợp tử vong trong hỏa hoạn là do bị ngạt khói. Do đó để chống nhiễm khói, bạn nên lấy khăn
    hoặc tấm vải thấm nước (tận dụng nước uống có sẵn gần đấy) che kín miệng và mũi. </p>
  <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F4%2F4.png?alt=media&token=c382a0eb-c9b5-4b1f-b00f-555e58b3d113"
       alt="Description of the image">
  <p> Lúc này, chiếc khăn sẽ trở thành chiếc mặt nạ phòng độc, giúp lọc không khí để bạn thở dễ dàng hơn. Nên tránh xa
    những không gian gây ngạt như phòng kín và các địa điểm có thể gây nổ như bình gas, tủ lạnh, máy lạnh… </p>
  <p> Để tránh bị sặc khói, bạn có thể tự tạo ra một chỗ ẩn nấp ngăn khói tràn vào miệng bằng cách dùng tấm nệm đã làm
    ướt, đặt nghiêng một góc 45 độ vào thành ban công, sau đó ngồi dưới khoảng trống mà đệm tạo ra. Khói tràn qua
    cửa ban công sẽ trượt theo tấm nệm và bay lên trên. Đây là một trong những kỹ năng thoát hiểm khi có cháy mà bạn
    cần phải biết. </p>
  <h4> Lưu ý khi di chuyển </h4>
  <p> Khi di chuyển, cần cúi khom và men theo tường. Khi mở cửa, cần kiểm tra nhiệt độ cánh cửa, tránh để lửa tạt vào
    người. Nếu nhiệt độ quá cao, phải tìm lối thoát hiểm khác. </p>
  <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F4%2F5.png?alt=media&token=c823d5be-3e19-499e-b658-55dcffc910c4"
       alt="Description of the image">
  <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F4%2F6.png?alt=media&token=6fcfadcb-5c85-46da-b1e6-1a3e79c56c55"
       alt="Description of the image">
  <p> Nếu không có lối thoát, phải chạy ra cửa sổ, ban công ra hiệu và gọi điện cho cảnh sát phòng cháy chữa cháy.
    Không được nhảy từ tầng quá cao xuống đất nếu không có sự hướng dẫn của lực lượng cứu hộ. </p>
  <p> Dù có sợ hãi, bạn cũng không bao giờ được nấp dưới gầm giường hay phòng để đồ vì lính cứu hỏa sẽ rất khó tìm ra
    bạn. </p>
  <p> Điều đáng lưu ý, mỗi chung cư, nhà cao tầng đều có kiến trúc khác nhau nên bạn cần phải tìm hiểu kỹ những chỉ
    dẫn thoát hiểm mỗi khi bước vào toà nhà. </p>
  <h3> Những thiết bị chữa cháy cần có </h3>
  <p> Bên cạnh nắm vững kiến thức, cách thoát hiểm khi cháy chung cư, nhà cao tầng, bạn còn cần trang bị phương tiện,
    thiết bị phòng cháy chữa cháy và cứu hộ cứu nạn, gồm: </p>
  <p> - Lắp đặt hệ thống phòng cháy chữa cháy, báo cháy, bình chữa cháy. </p>
  <p> - Sắm các trang thiết bị hỗ trợ thoát hiểm như dây thừng, thang dây, dây thoát hiểm, mặt nạ chống độc. </p>
  <p> - Thường xuyên kiểm tra, chú ý tới các địa điểm dễ xảy ra cháy nổ như công tắc điện, nơi đặt cầu giao điện. </p>
  <p> Ngoài ra, bạn cần tham gia các buổi tập huấn, hướng dẫn cách xử lý sự cố, cách sử dụng bình chữa cháy để kịp
    thời ứng phó khi có đám cháy; luôn đề cao tinh thần cảnh giác, đề phòng cháy nổ trong mọi tình huống. </p>
</section>
</body>
</html>
