<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    section {
      padding-left: 20px;
      padding-right: 20px;
    }
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 15px;
    }
    footer {
      font-size: 14px;
      color: #888;
      margin-top: 20px;
    }
  </style>
</head>
<body>
<section>
  <p>Khi phát hiện đang có sự có hỏa hoạn hãy bình tĩnh xem xét nguồn cháy đang ở khu vực nào, tìm cách dập và lối thoát an toàn nhất, việc mất bình tĩnh và hoản loạn sẽ dễ dẫn đến việc dập lửa sai cách hoặc chạy chen lấn giẫm lên nhau, bị ngạt khói...</p>
  <p>Khi thấy đám cháy lớn hay khẩn trương gọi đội cứu hộ chữa cháy 114, đồng thời báo động cho mọi người biết như hô lớn, phát loa, đánh kẽng kêu báo cháy</p>
    <p><strong>Nguồn: Trung tâm y tế quận 6 TP HCM </strong></p>
</section>
</body>
</html>
