<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    section {
        padding-left: 20px;
        padding-right: 20px;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 15px;
    }
  </style>
</head>
<body>
<section>
  <p>Đây là một trong những kỹ năng thoát hiểm khi hỏa hoạn hiệu quả nhất, biết cách cô lập và dập tắt đám cháy sẽ làm cho việc cứu hộ và phòng ngừa thiệt hại cho tài sản, con người nhanh và hiệu quả hơn. Cách làm như sau:</p>
  <p>- Ngắt cầu dao điện, aptomat </p>
 <p>- Liên hệ ngay với đội pccc 114</p>
 <p>- Sơ tán mọi người ra khỏi đám cháy</p>
 <p>- Sử dụng thiết bị dập lửa như bình chữa cháy bột, bình chữa cháy khí co2, thảm thủy tinh dập lửa.</p>
 <p>- Dịch chuyển các vật dụng dễ bắt lửa ra khỏi khu vực có đám cháy.</p>
 <p>- Chú ý trong trường hợp đám cháy lớn ko thể dập tắt hãy tìm cách thoát thân nhanh nhất có thể.</p>

   <p><strong>Nguồn: Trung tâm y tế quận 6 TP HCM </strong></p>
</section>
</body>
</html>
