<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    section {
      padding-left: 20px;
      padding-right: 20px;
    }
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 15px;
    }
    footer {
      font-size: 14px;
      color: #888;
      margin-top: 20px;
    }
  </style>
</head>
<body>
<section>
  <p>Mỗi gia đình hãy ngồi lại để phác thảo một bản đồ cho kế hoạch thoát hiểm của mình. Khói từ đám cháy có thể gây khó nhìn mọi đồ vật, vì thế, việc học và nhớ các cách ra khỏi nhà là rất quan trọng.tòa nhà và khu chung cư nên tổ chức các khóa đào dạo, hướng dẫn tập huấn thoát hiểm khi có đám cháy.</p>
    <p><strong>Nguồn: Trung tâm y tế quận 6 TP HCM </strong></p>
</section>
</body>
</html>
