<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        section {
            padding-left: 20px;
            padding-right: 20px;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 15px;
        }


        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
<section>
    <h4>1. Dùng khăn ướt chống nhiễm khói độc</h4>
    <p>Dùng chăn ẩm ướt hoặc băng dính bịt kín các khe cửa để tránh khói, khí độc tràn vào phòng trong lúc tìm cách
        thoát thân và chờ lực lượng chữa cháy.</p>
    <p>Phần lớn những trường hợp tử vong trong hỏa hoạn là do bị ngạt khói, do đó khi có hỏa hoạn để chống nhiễm khói
        bạn nên lấy khăn hoặc tấm vải thấm nước (tận dụng nước uống có sẵn gần đấy) che kín miệng và mũi. </p>
    <p>Lúc này, chiếc khăn sẽ trở thành chiếc mặt nạ phòng độc, giúp bạn lọc không khí và thở dễ dàng hơn. Tránh xa
        những không gian gây ngạt như phòng kín và các địa điểm có thể gây nổ như bình gas, tủ lạnh, máy lạnh…</p>
    <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F9%2F1.png?alt=media&token=a7216513-b6d4-465f-ab7d-940f8485f120"
         alt="Description of the image">
    <h4>2. Luôn giữ cơ thể ở vị trí thấp khi di chuyển</h4>
    <p>Lý do là khói độc từ đám cháy thường nhẹ hơn không khí nên sẽ bay lên cao và oxi sẽ nằm phần thấp sát sàn nhà.
        Nếu bạn thấy có khói trong nhà, hãy giữ cơ thể mình ở vị trí thấp gần sàn khi tìm đường thoát hiểm nếu có khói
        khi bạn đang trên đường thoát hiểm, ở vị trí thấp có nghĩa bạn bò dưới khói. Bạn có thể cúi sát xuống sàn nhà,
        và bò bằng bàn tay và đầu gối dưới đám khói.</p>
    <img src="https://firebasestorage.googleapis.com/v0/b/datest1-52ff7.appspot.com/o/picture_cachthoathiem%2F9%2F2.png?alt=media&token=0a3cf055-d627-4dea-a6fc-c698eb85c7d5"
         alt="Description of the image">
    <p><strong>Nguồn: Trung tâm y tế quận 6 TP HCM</strong></p>

</section>
</body>
</html>


